
.elasticbeanstalk/*
.idea/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.pyc
.tabs/__pycache__/
.templates/__pycache__/
/emsenv/
.__pycache__
/utils/db_config.ini
/utils/user_config.ini
